.navbar .dropdown-menu.bg-dark {
  background-color: #17191bc4 !important;
}

.navbar .dropdown-menu.bg-dark a.dropdown-item:hover {
  background-color: #c5ae87 !important;
  color: #17191b !important;
}
