@import '../../layouts/colors.scss';

.ProtocolMenu {
  margin: 0 auto 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .nav-item {
    text-transform: uppercase;
  }

  .nav-item:not(.active) a {
    color: $gray-600;

    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
